
<app-navbar></app-navbar>

<div class="containerr">
    <div class="row mb-2">
        <div class="col-4" *ngFor="let store of allStore">
            <div class="row">
              <div class="card card-1">
                <h3 style="color: white;">{{store.name}}</h3>
                <p style="color: white;">{{ store.content  }} .</p>
                <a class="btn vermas--btn" routerLink="/store/{{ store._id }}/products">
                  Ver productos
                </a>
              </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card-body">
                <h4 class="card-title">{{store.name}}</h4>
                <p class="card-text" > {{ store.content  }}</p>
                <a class="btn btn-info col-12" routerLink="/store/{{ store._id }}/products">
                    Ver productos
                </a>
            </div>-->

