<app-navbar></app-navbar>
<div class="containerr">
  <section class="product">
    <div class="product__photo">
      <div class="photo-container">
        <div class="photo-main">
          <img src="{{ product.urlphoto }}">
        </div>
      </div>
    </div>
    <div class="product__info">
      <div class="title">
        <h1>{{product.name}}</h1>
        <i class="text-danger col-4">{{ product.discount  }}%</i>
      </div>
      <div class="price">
        $ <span>{{ getPrice(product) }} </span>
      </div>
      <div class="variant">
        <h3>Precio anterior: $ {{ product.price }}</h3>
      </div>
      <div class="description">
        <h3>Descripcion</h3>
        <ul>
          {{ product.content }}
        </ul>
      </div>
      <div class="row">
        <form (ngSubmit)="addProduct(id)">
          <input id="prodId" name="prodId" type="hidden" value="{{ product._id }}" #id>
          <button class="btn btn-success buy--btn">Añadir al carrito</button>
        </form>
        <a class="btn btn-dark col-3 volver--btn" style="visibility: hidden;"> algo</a>
        <a class="btn btn-dark col-3 volver--btn" routerLink="/home">
            Volver
        </a>
      </div>
    </div>
  </section>
</div>


